PORTA=porta da aplicação
//Cadeia de conexão com o banco de dados PostgreSQL
PGUSER=
PGPASSWORD=
PGHOST=
PGPORT=
PGDATABASE=
Os valores passados a cima são apenas exemplos, você deve alterá-los de acordo com a sua configuração do banco de dados PostgreSQL.
